* {
  margin: 0;
}

.btn-add-todo {
  width: 100px;
  height: 35px;
  background-color: transparent;
  border: 2px solid silver;
  color: white;
  border-radius: 15px;
  cursor: pointer;
  transition: 0.5s ease;

  &:hover {
    background-color: red;
    transition: 0.5s ease;
  }

}