* {
  margin: 0;
}

.btn-add-todo {
  width: 100px;
  height: 35px;
  background-color: transparent;
  border: 2px solid silver;
  color: white;
  border-radius: 15px;
  cursor: pointer;
  transition: 0.5s ease;

  &:hover {
    background-color: red;
    transition: 0.5s ease;
  }

}

.boards {
  display: flex;
  width: 700px;
  margin: 15px 02px;
  align-items: center;
  background-color: #233935;
  justify-content: space-between;
  border-radius: 10px;
  //border: 1px solid red;

  button {
    background-color: transparent;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    color: red;

    &:hover {
      background-color: rgba(255, 0, 0, 0.3);
    }
  }

  .edit-btn {
    color: white;

    &:hover {
      background-color: rgba(255, 255, 255, 0.35);
    }
  }

  .item {
    display: flex;
    align-items: start;
    flex-direction: column;

    span {
      color: #8c7e7e;
      font-size: 20px;
    }


    h3 {
      font-size: 22px;
      margin: 15px;
      color: white;
    }
  }

}

.input-item-div > input {
  width: 149px;
  height: 35px;
  border-radius: 9px;
  border: none;
  margin: 4px;
}

.input-item-div {
  display: flex;
  align-items: center;

  .valueNo {
    border: 2px solid red
  }
  button {
    background: transparent;
    color: white;
    border: 1px solid silver;
    cursor: pointer;
  }

}

form {

  .modal {
    display: flex;
    align-items: start;
    flex-direction: column;


    input {

      width: 180px;
      height: 30px;
      border: none;
      border-radius: 10px;
      margin: 10px;

    }

    button {
      width: 120px;
      height: 30px;
      margin: 5px auto;
      cursor: pointer;
      background-color: transparent;
      border: 2px solid white;
      color: white;
      border-radius: 10px;
    }
  }
}

